
</body>
<footer>
  <div class="footer">
  <p>Copyright © <%= new Date().getFullYear() %> <br> <a href="https://www.freepik.com/free-photo/back-school-concept-with-pinned-sticky-notes-school-supplies-board-background-flat-lay_8999364.htm#query=bulletin%20board%20background&position=23&from_view=keyword&track=ais">Image by 8photo</a> on Freepik</p>
</div>
</footer>


</html>